# Making Recommendations based on Pearson's Correlation

In [1]:
##an example of item-based recommendation system, recommender will compare places to eat and restaurant goers

In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')
geodata = pd.read_csv('geoplaces2.csv', encoding='latin1')

In [7]:
df.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [8]:
geodata

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rinc√≥n de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,132866,22.141220,-100.931311,0101000020957F000013871838EC4A58C1B5DF74F8E396...,Chaires,Ricardo B. Anaya,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,medium,?,familiar,f,closed,none
126,135072,22.149192,-101.002936,0101000020957F0000E7B79B1DB94758C1D29BC363D8AA...,Sushi Itto,Venustiano Carranza 1809 C Polanco,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,sushi-itto.com.mx,familiar,f,closed,none
127,135109,18.921785,-99.235350,0101000020957F0000A6BF695F136F5AC1DADF87B20556...,Paniroles,?,?,?,?,?,...,Wine-Beer,not permitted,informal,no_accessibility,medium,?,quiet,f,closed,Internet
128,135019,18.875011,-99.159422,0101000020957F0000B49B2E5C6E785AC12F9D58435241...,Restaurant Bar Coty y Pablo,Paseo de Las Fuentes 24 Pedregal de Las Fuentes,Jiutepec,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
129,132877,22.135364,-100.934948,0101000020957F000090735015B84B58C1AF0DC0414698...,sirloin stockade,?,?,?,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [26]:
restaurant = geodata[['placeID', 'name']]
restaurant

     placeID                            name
0     134999                 Kiku Cuernavaca
1     132825                 puesto de tacos
2     135106      El Rinc√≥n de San Francisco
3     132667  little pizza Emilio Portes Gil
4     132613                   carnitas_mata
..       ...                             ...
125   132866                         Chaires
126   135072                      Sushi Itto
127   135109                       Paniroles
128   135019     Restaurant Bar Coty y Pablo
129   132877                sirloin stockade

[130 rows x 2 columns]

In [10]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Group and Rank data

In [21]:
reviews = pd.DataFrame(df.groupby('placeID')['rating'].mean())
reviews.head()

         rating
placeID
132560     0.50
132561     0.75
132564     1.25
132572     1.00
132583     1.00

In [22]:
reviews['rating_count'] = pd.DataFrame(df.groupby('placeID')['rating'].count())
reviews

           rating  rating_count
placeID
132560   0.500000             4
132561   0.750000             4
132564   1.250000             4
132572   1.000000            15
132583   1.000000             4
...           ...           ...
135088   1.000000             6
135104   0.857143             7
135106   1.200000            10
135108   1.181818            11
135109   1.000000             4

[130 rows x 2 columns]

In [23]:
reviews.describe()

           rating  rating_count
count  130.000000    130.000000
mean     1.179622      8.930769
std      0.349354      6.124279
min      0.250000      3.000000
25%      1.000000      5.000000
50%      1.181818      7.000000
75%      1.400000     11.000000
max      2.000000     36.000000

In [24]:
reviews.sort_values('rating_count', ascending=False)

           rating  rating_count
placeID
135085   1.333333            36
132825   1.281250            32
135032   1.178571            28
135052   1.280000            25
132834   1.000000            25
...           ...           ...
132766   0.666667             3
132717   1.333333             3
135011   1.333333             3
132668   1.000000             3
135016   1.000000             3

[130 rows x 2 columns]

In [28]:
restaurant[places['placeID']==135085] #get name of the restaurant with most reviews

     placeID                    name
121   135085  Tortas Locas Hipocampo

In [30]:
cuisine[cuisine['placeID']==135085] #find out what kind of food do they serve at this restaurant

    placeID   Rcuisine
44   135085  Fast_Food

## Prepare for data analysis

In [32]:
restaurant_crosstabs = pd.pivot_table(data=df, values='rating', index='userID', columns='placeID')
restaurant_crosstabs

placeID,132560,132561,132564,132572,132583,132584,132594,132608,132609,132613,...,135080,135081,135082,135085,135086,135088,135104,135106,135108,135109
userID,,,,,,,,,,,,,,,,,,,,,
U1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
U1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
U1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
U1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
U1134,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
U1136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
U1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### there are many null values in the dataset because there arent many reviews/ratings, hence the sparsity of the dataset

In [36]:
#get the ratings from the most reviewed restaurant
tortas_rating = restaurant_crosstabs[135085]
tortas_rating[tortas_rating>=0]

userID
U1001    0.0
U1002    1.0
U1007    1.0
U1013    1.0
U1016    2.0
U1027    1.0
U1029    1.0
U1032    1.0
U1033    2.0
U1036    2.0
U1045    2.0
U1046    1.0
U1049    0.0
U1056    2.0
U1059    2.0
U1062    0.0
U1077    2.0
U1081    1.0
U1084    2.0
U1086    2.0
U1089    1.0
U1090    2.0
U1092    0.0
U1098    1.0
U1104    2.0
U1106    2.0
U1108    1.0
U1109    2.0
U1113    1.0
U1116    2.0
U1120    0.0
U1122    2.0
U1132    2.0
U1134    2.0
U1135    0.0
U1137    2.0
Name: 135085, dtype: float64

## Find correlation between restaurants and Tortas Locas Hipocampo

In [38]:
similarity = restaurant_crosstabs.corrwith(tortas_rating)

corr = pd.DataFrame(similarity, columns=['PearsonR'])
corr.dropna(inplace=True)
corr.head()

/Users/zlim/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/zlim/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

         PearsonR
placeID
132572  -0.428571
132723   0.301511
132754   0.930261
132825   0.700745
132834   0.814823

In [39]:
corr_summary_tortas = corr.join(rating['rating_count'])

In [42]:
corr_summary_tortas[corr_summary_tortas['rating_count']>=10].sort_values('PearsonR', ascending=False)

         PearsonR  rating_count
placeID
135076   1.000000            13
135085   1.000000            36
135066   1.000000            12
132754   0.930261            13
135045   0.912871            13
135062   0.898933            21
135028   0.892218            15
135042   0.881409            20
135046   0.867722            11
132872   0.840168            12
135038   0.831513            24
132834   0.814823            25
135052   0.741825            25
135051   0.710047            14
132825   0.700745            32
135030   0.654654            12
135041   0.643796            17
132862   0.559017            18
132921   0.493013            17
132856   0.475191            14
135106   0.454545            10
132951   0.416667            10
135079   0.399012            17
135032   0.342475            28
135060   0.342381            22
132723   0.301511            12
135058   0.292174            18
135064   0.166667            17
135039   0.090909            12
135047   0.000000            10
135026   0.000000            11
135025  -0.084215            15
132572  -0.428571            15
135057  -0.500000            15

### Pearson R value of 1 is not meaningful, for these restaurant there is only 1 user reviews for both restaurants.

In [55]:
restaurant_corr_tortas = pd.DataFrame([135085, 132754, 135045, 135062, 135028, 135042, 135046], index = np.arange(7), columns=['placeID'])
summary = pd.merge(restaurant_corr_tortas, cuisine,on='placeID')
summary

   placeID   Rcuisine
0   135085  Fast_Food
1   132754    Mexican
2   135028    Mexican
3   135042    Chinese
4   135046  Fast_Food

### the reason why it is showing only 5 cuisinse is because not all the restaurants are listed in the cuisine dataset
### among the top 5 restaurants that were most correlated with Tortas shown here, 1 of them serves fast food

In [52]:
restaurant[restaurant['placeID']==135046]

    placeID                     name
42   135046  Restaurante El Reyecito

### To evaluate how this similarity metric, consider set of possbilities for example, how many cuisines types are serve at a restaurants in the dataset

In [54]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

### according to our cuisine dataset, there are 59 unique cuisines that are served and from our correlation analysis 2 of the top 5 restaurants serve fast food

### in this case, it is safe for us to recommend Restaurante El Reyecito to users who also like Tortas Locas Hipocampo